body {
  background-image: url('https://wallpapercave.com/wp/wp9338455.jpg'); /* Replace with your image file path */
  background-size: 100% 100%; /* Cover the entire body element */
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.team-collaboration {
  text-align: center;
  padding: 20px;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Semi-transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for the container */
}

.text-white {
  color: white; /* White text color */
}

.form-group {
  margin-bottom: 15px;
}

select.form-control {
  width: 100%;
  padding: 5px;
}

.btn-primary {
  background-color: #007bff; /* Blue button background color */
  color: #fff; /* White button text color */
}
