/* Custom CSS for the header and container */
body {
  background-image: url('https://i.pinimg.com/564x/ca/63/28/ca63281f7a93bd5d2fe75d222536adc4.jpg'); /* Replace with your image file path */
  background-size: 100% 100%; /* Cover the entire body element */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  color: white; /* Text color for the header */
  padding: 20px 0;
  text-align: center;
  margin-top: 2;
}

.container {
  background-image: url('https://i.pinimg.com/564x/ce/fa/4d/cefa4de01a2676b8f3b1ddb3dc87548d.jpg'); /* Replace with your image file path */
  background-size: 100% 100%; /* Cover the entire body element */
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.sidebar {
  /* Light gray sidebar background */
  background-image: url('https://i.pinimg.com/564x/81/34/f2/8134f2910fc85b647400d04171fb6a2c.jpg'); /* Replace with your image file path */
  background-size: 100% 100%; /* Cover the entire body element */
  background-repeat: no-repeat;
  background-attachment: fixed;

  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
